Page {
    background-color: #F8F9FA;
}

Page QPushButton {
    padding: 15px;
}

QLabel#title {
    font-size: var(large);
}

Contacts QPushButton {
    text-align: left;
}

TextDisplayWidget {
    font-size: var(extra-large);
    background-color: transparent;
    color: black;
}

Setting, Contact {
    background-color: #CED4DA;
    border-style: solid; 
    border-color: #ADB5BD;
    border-radius: 5px;
    border-width: 1px;
}

Setting QPushButton, Contact QPushButton {
    background-color: #ADB5BD;
    border-style: solid; 
    border-color: #6C757D;
    border-radius: 5px;
    border-width: 1px;
    padding: 15px;
}

QPushButton, Button {
    color: #000000;
    background-color: #CED4DA;
    border-style: solid; 
    border-color: #ADB5BD;
    border-radius: 5px;
    border-width: 1px;
    font-size: var(base);
}

QLabel {
    color: #000000;
    font-size: var(base);
}

QScrollArea {
    background-color: transparent;
}

QWidget#contacts {
    background-color: transparent;
}

QLineEdit {
    background-color: transparent;
    color: black;
}